<html>
    <head>
        <title>bloggy</title>
    </head>
    <body>
        <div>
            <h1>blog <strong>blog</strong> blog</h1>
            <h4><a href="">django girls test blog</a></h4>
        </div>

        <div>
            <p><strong>welcome friends</strong></p>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}

    </body>
</html>
