<html>
    <head>
        <title>bloggy</title>
    </head>
    <body>
        <div>
            <h1>blog <strong>blog</strong> blog</h1>
            <h4><a href="">django girls test blog</a></h4>
        </div>

        <div>
            <p>welcome friends</p>
        </div>

        <div>
            <p>published: a time</p>
            <h2><a href="">my first post</a></h2>
            <p>sample text</p>
        </div>

        <div>
            <p>published: another time</p>
            <h2><a href="">my second post</a></h2>
            <p>really cool sample text</p>
        </div>
    </body>
</html>
